:root{
    --main-bg-color: hsl(257, 40%, 49%);
    --header-font: 'Poppins', sans-serif;
    --body-font: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* RESET CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET CSS */

html {
    /* background: var(--main-bg-color) url('./images/bg-mobile.svg') top center/38% 100% no-repeat; */
    padding: 0;
    background-image: url('./images/bg-mobile.svg');
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-origin: border-box;
    background-clip: border-box;
    background-color: var(--main-bg-color);
}

body {
    color: white;
    font-size: 16px;
    margin: 0 auto;
    padding: 1rem;
    font-family: sans-serif;
    min-height: 100vh;
    width: 80%;
}
article h1,
.register-cta{
    font-family: var(--header-font);
}
article h1{
    font-weight: 600;
}
p{
    font-family: var(--body-font);
}
img{
    width: 100%;
    height: auto;
}
header h1{
    padding:0;
    margin: 0;
}
.logo {
    width: 40%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
article {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
article section h1 {
    font-size: 1.5rem;
    line-height: 2.2rem;
}

article p{
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 1.8rem;
    padding: 6px;
}

.mockup{
    margin-bottom: 2rem;
}

.register-cta{
    color: var(--main-bg-color);
    text-decoration: none;
    background-color: white;
    border-radius: 20px;
    padding: 10px 80px;
    box-shadow: 0px 8px 15px 2px #362b54;
}

footer .social-links{
    margin: 5rem auto 3rem auto;
    text-align: center;
    color: white;
}

.social-links a img{
    height: 1rem;
    width: 1rem;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: .4rem;
    margin: .25rem;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(0, 100%, 100%);
}
.register-cta:active{
    background-color: hsl(300, 69%, 71%);
}
.social-links:active{
    color: hsl(300, 69%, 71%);
}
@media screen and (min-width: 768px) {
    html{
        background-image: url('./images/bg-mobile.svg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% auto;
        /* background-attachment: fixed;
        background-origin: border-box;
        background-clip: border-box;
        background-color: var(--main-bg-color); */
    }
    .logo{
        width: 30%;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .mockup{
        width: 100%;
        margin: 0 auto;
    }
    article section h1 {
        font-size: 3.8rem;
        line-height: 4.4rem;
    }
    article p{
        font-size: 2.1rem;
        line-height: 2.5rem;
        padding: 6px;
        width: 83%;
        margin: 0 auto 1.5em auto;
    }
}
@media screen and (min-width: 900px){
    html{
        background-image: url('./images/bg-desktop.svg');
        background-size: 84% 100%;
        background-position: left center;
        background-repeat: no-repeat;
    }
    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 90%;
    }
    .logo,
    footer .social-links{
        margin: 0;
        padding: 0;
    }
    .logo{
        width: 15%;
        margin-top: 2rem;
        margin-bottom: 1.3rem;
    }
    article{
        max-width: 100%;
        margin-top: 1.5rem;
        justify-content: space-between;
        text-align: unset;
    }
    .mockup{
        margin: 0;
        height: auto;
        width: 50%; /*Set the width on Chome*/
        flex-basis: 50%;
    }
    article section{
        flex-basis: 47%;
        padding-top: 2rem;
    }
    article section h1{
        font-size: 3rem;
        line-height: 4rem;
    }
    article section p{
        font-size: 0.9rem;
        line-height: 1.7em;
        margin: 0;
        margin-bottom: 2rem;
        width: 100%;
    }
    .register-cta{
        border-radius: 60px;
        padding: 15px 70px;
    }
    footer{
        margin-top: auto;
    }
    footer .social-links{
        font-size: 1.2rem;
        text-align: right;
    }
    
}
@media screen and (min-width: 1200px){
    body{
        max-width: 1400px;
    }
    .logo{
        margin-bottom: 4.3rem;
    }
    article{
        margin-top: 5.4rem;
    }
    .mockup{
        flex-basis: 54%;
        width: 54%;
    }
    article section{
        flex-basis: 44.3%;
    }
    article section p{
        font-size: 1.3rem;
    }
    
}