@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@400;600&display=swap");

:root {
	--main-bg-color: hsl(257, 40%, 49%);
	--body-font: "Open Sans", sans-serif;
	--body-font-weight: 400;
	--headings-font: "Poppins", sans-serif;
	--headings-font-weight: 600;
}
/* html {
	padding: 0;
	background-image: url("./images/bg-mobile.svg");
	background-position: top center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-origin: border-box;
	background-clip: border-box;
	background-color: var(--main-bg-color);
} */
/* * {
	padding: 0;
	margin: 0;
} */
body {
	color: white;
	font-size: 16px;
	margin: 0 auto;
	padding: 1rem;
	max-height: 100vh;
	width: 80%;
	overflow: hidden;
}
article h2,
.register-cta {
	font-family: var(--headings-font);
}
article h2 {
	font-family: var(--headings-font);
	font-weight: var(--headings-font-weight);
}
p {
	font-family: var(--body-font);
}
img {
	width: 100%;
	height: auto;
}
header h1 {
	padding: 0;
	margin: 0;
}
.logo {
	width: 40%;
	/* margin-top: 1rem;
	margin-bottom: 2rem; */
}
article {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
article section h2 {
	font-size: 1.5rem;
	line-height: 2.2rem;
}
article p {
	font-size: 1rem;
	margin-bottom: 2rem;
	line-height: 1.8rem;
	padding: 6px;
	opacity: 80%;
}
/* .mockup {
	margin-bottom: 2rem;
} */
.register-cta {
	color: var(--main-bg-color);
	text-decoration: none;
	background-color: white;
	border-radius: 20px;
	padding: 10px 80px;
	box-shadow: 0px 8px 15px 2px #362b54;
}
footer .social-links {
	/* margin: 5rem auto 3rem auto; */
	text-align: center;
	color: white;
}
.social-links a img {
	height: 1rem;
	width: 1rem;
	border: 1px solid #fff;
	border-radius: 100%;
	/* padding: 0.4rem; */
	/* margin: 0.25rem; */
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
	margin: 0;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(0, 100%, 100%);
}
.register-cta:active {
	background-color: hsl(300, 69%, 71%);
}
.social-links:active {
	color: hsl(300, 69%, 71%);
}
@media screen and (min-width: 1440px) {
	html {
		font-size: 16px;
		background: none;
		padding: 0;
	}
	body {
		background-image: url("./images/bg-desktop.svg");
		background-size: 160vh 100%;
		background-color: var(--main-bg-color);
		background-repeat: no-repeat;
		height: 100vh;
		/* width: 100vw; */
		margin: 0;
		/* padding: 3rem; */
		max-height: 100vh;
	}
	.logo {
		width: 17%;
	}
	article {
		flex-direction: row;
		justify-content: start;
		/* margin-top: 6.5rem; */
		/* width: 100%; */
		/* margin: 0 auto; */
	}
	.mockup {
		flex-basis: 70%;
	}
	article section {
		flex-basis: 20%;
		margin-left: 3rem;
	}
}
